.contact-content{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.contact-content > div{
    background: #2b3d4f;
    border: 3px solid #374757;
    box-shadow: 0 4px 5px rgb(37 50 66 / 70%);
    margin-bottom: 30px;
    min-height: 550px;
}
.contact-us{
    width: calc(35% - 15px);
    padding: 0 20px;
    text-align: center;    
}
.contact-us h4{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    letter-spacing: .5px;
    text-transform: capitalize;
    color: #16c0f0;
}

.contact-us-item{
    padding: 25px 0;
    position: relative;
    border-bottom: 1px solid #263340;
    border-top: 1px solid #374757;
}

.contact-blank{
    width: calc(65% - 15px);
    padding: 40px;
    position: relative;
}
.contact-blank input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #304255;
    color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 12px;
    margin-bottom: 40px;
}
.contact-blank input:nth-child(4){
    height: 150px;
}
.contact-blank input::placeholder{
    padding-top: 18px;
    vertical-align: text-top;
}
.contact-button{
    margin: 40px 0;
    position: absolute;
    bottom: 0;
}
@media(max-width: 1000px){
    .contact-us p{
        font-size: 12px;
    }
}

@media(max-width: 750px){
    .contact-content{
        flex-wrap: wrap;
    }
    .contact-content > div{
        width: 100%;
    }
    .contact-us p{
        font-size: 14px;
    }
    .contact-blank{
        margin-bottom: 0;
    }
    .contact-blank input:nth-child(4){
        height: 120px;
    }
}

@media(max-width: 500px){
    .contact-blank{
        padding: 30px 25px;
    }
    .contact-content > div{
        min-height: 520px;
    }
}